<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>He who asks a question is a fool for five minutes; he who does not ask a question remains a fool forever.</p>
<p>-Chinese proverb</p>